@CHARSET "UTF-8";
body {
  margin:0;
  padding:0;
    background: url(../img/uART_logo.png);
    background-repeat: repeat-xy;

}

div {position:absolute;}

#menu_div {
top: 50px;
left: 50px;
width: 670px;
height: 400px;
border: 5px outset darkgreen;
text-align:center;
font-weight:bolder;
color:black;
border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius:5px;
background: blanchedalmond;
box-shadow:outset green 1px 1px 1px, 1px 1px 1px black;
-moz-box-shadow:outset green 1px 1px 1px, 1px 1px 1px black;
-webkit-box-shadow:outset green 1px 1px 1px, 1px 1px 1px black;
}

#menu_in {
    top:30px;
    left:10px;
    right:30px;
    bottom:2px;
    background:blanchedalmond;
}

#min {
top: 240px;
left: 0px;
width:50%;
background:lightgreen;
border: 2px outset gray;

}

#max {
top: 240px;
left: 50%;
width: 50%;
color: white;
background: lightcoral;
border:2px outset gray;

}

#field {
text-align:left;
top: 300px;
left:0px;
right: 0px;
height: auto;
color: darkgreen;
}


#arrow {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  margin: 10px auto;
  border: 10px solid; 
  border-color: orangered ivory orangered orangered;
  z-index:4;  
}

#commands {
    top: 50px;
    left: 750px;
    width: 400px;
    height: 400px;
    background: lightsteelblue;
    border: 5px outset gray;
    text:darkgray;
    text-align:center;
    font-weight:bolder;
    font-size:110%;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius:5px;

    box-shadow:inset blue 1px 1px 1px, 1px 1px 1px black;
    -moz-box-shadow:inset blue 1px 1px 1px, 1px 1px 1px black;
    -webkit-box-shadow:inset blue 1px 1px 1px, 1px 1px 1px black;

}

#commands_in {
    top: 10px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: lightsteelblue;
}

