@CHARSET "UTF-8";
body {
  margin:0;
  padding:0;
      background-color:#e0e0e0;
      }

      div {
    position:absolute;
    right:0;
          }

#arrow {
  top: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  margin: 10px auto;
  border: 10px solid; 
  border-color: orangered ivory orangered orangered;
  z-index:4;  
}


   #legend {
    left:5px;
    top:0;
    height:30px;
          }
    #chart {
      left:0;
      top:30px;
      bottom:0;
          }
   span.blue {color:blue;}
   span.red {color:red;}
   span.green {color:green;}                      