@CHARSET "UTF-8";

#arrow {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  margin: 10px auto;
  border: 10px solid; 
  border-color: orangered gold orangered orangered;
  z-index:10;  
}

#charts
    {
top: 0px;
left:0px;
height: 1900px;
width: 1500px;
} 
 
